<!DOCTYPE html>
<html>
<head>
<title>Appointments</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="dashboard">

<div class="sidebar">
<h3>Menu</h3>

<ul>
<li>Appointments</li>
<li>Settings</li>
<li><a href="/logout">Logout</a></li>
</ul>

</div>

<div class="content">

<h2>Appointments Table</h2>

<table>

<tr>
<th>Time</th>
<th>Patient</th>
<th>Technician</th>
<th>Status</th>
</tr>

<tr>
<td>18:15 - 19:00</td>


</div>

</div>

</body>
</html>